/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  .sect1{
    position: relative;
    min-height: 400px;
  }

.form-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: white;
  padding: 15px 2%;
  width: 100%;
  max-width: 700px;
}

.flow-text{
  font-size: 16px;
}

.custom-title{
  position: relative;
}

.custom-title h2{
  font-size: 30px;
  color: #777;
  z-index: 2;
  display: inline-block;
  position: relative;
  background: white;
  padding-right: 10px;
}

.custom-title > div{
  width: 100%;
  position: absolute;
  height: 1px;
  top: 40px;
  z-index: 1;
  background: #777;
  left: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
